@font-face {
  font-family: 'OpenSans-Regular';
  src: url('/assets/fonts/OpenSans-Regular.ttf');
}

@font-face {
  font-family: 'OpenSans-Semibold';
  src: url('/assets/fonts/OpenSans-Semibold.ttf');
}

@font-face {
  font-family: 'OpenSans-Light';
  src: url('/assets/fonts/OpenSans-Light.ttf');
}

body, html {
  height: 100%;
}

.container {
  margin-left: 0;
  margin-right: 0;
  width: 100%;

}

#app {
  #content {

    //=======================TODO: REMOVE THIS
    margin-bottom: 15px;

    .fluenz-title {
      font-family: OpenSans-Light;
      color: gray;
      font-size: 61px;
      margin-top: 50px;
      margin-bottom: 50px;
    }

    .fluenz-blurb-title {
      font-family: OpenSans-Regular;
      color: red;
      font-size: 28px;
      margin-bottom: 20px;
    }

    .fluenz-sub-title {
      color: #33b9af;
      font-size: 20px;
      margin-bottom: 30px;
    }

    #panel-1 {
      //border: green solid thick;
      background: transparent url('assets/img/home/home.jpg') no-repeat center center;
      width: auto;
      height: 850px;
      background-size: cover;
    }

    #panel-2 {
      height: 100px;
      margin-left: 10%;
      margin-right: 10%;

      .link {
        font-family: OpenSans-Semibold;
        padding-top: 2.5%;
        text-align: center;
        cursor: pointer;
        span {
          font-size: 20px;
        }
      }
    }

    #panel-3, #panel-6 {

      .col-md-3 {
        padding-right: 0;
        padding-left: 0;
      }

      .mosaic-img {
        width: auto;
        height: 424px;
        background-size: cover;
      }

      #mosaic-img-1 {
        background: transparent url('assets/img/mosaic-1/m1-1.jpg') no-repeat center center;
      }

      #mosaic-img-2 {
        background: transparent url('assets/img/mosaic-1/m1-2.jpg') no-repeat center center;
      }

      #mosaic-img-3 {
        background: transparent url('assets/img/mosaic-1/m1-3.jpg') no-repeat center center;
      }

      #mosaic-img-4 {
        background: transparent url('assets/img/mosaic-1/m1-4.jpg') no-repeat center center;
      }

      #mosaic-img-5 {
        background: transparent url('assets/img/mosaic-1/m1-5.jpg') no-repeat center center;
      }

      #mosaic-img-6 {
        background: transparent url('assets/img/mosaic-1/m1-6.jpg') no-repeat center center;
      }

      #mosaic-img-7 {
        background: transparent url('assets/img/mosaic-1/m1-7.jpg') no-repeat center center;
      }

      #mosaic-img-8 {
        background: transparent url('assets/img/mosaic-1/m1-8.jpg') no-repeat center center;
      }

      #mosaic-img-9 {
        background: transparent url('assets/img/mosaic-1/m1-9.jpg') no-repeat center center;
      }

      #mosaic-img-10 {
        background: transparent url('assets/img/mosaic-1/m1-10.jpg') no-repeat center center;
      }

      #mosaic-img-11 {
        //background: transparent url('assets/temp/img/gabe.PNG') no-repeat center center;
        background: transparent url('assets/img/mosaic-1/m1-11.jpg') no-repeat center center;
      }

      #mosaic-img-12 {
        background: transparent url('assets/img/mosaic-1/m1-12.jpg') no-repeat center center;
      }

      #house-mosaic-img-1 {
        background: transparent url('assets/img/mosaic-2/m2-1.jpg') no-repeat center center;
      }

      #house-mosaic-img-2 {
        background: transparent url('assets/img/mosaic-2/m2-2.jpg') no-repeat center center;
      }

      #house-mosaic-img-3 {
        background: transparent url('assets/img/mosaic-2/m2-3.jpg') no-repeat center center;
      }

      #house-mosaic-img-4 {
        background: transparent url('assets/img/mosaic-2/m2-4.jpg') no-repeat center center;
      }
    }

    #panel-4 {
      margin-bottom: 80px;
    }

    #panel-4, #panel-9 {
      margin-left: 12%;
      margin-right: 12%;

      .col-md-4, .col-md-6 {
        padding-right: 14px;
        p {
          font-family: OpenSans-Regular;
          font-size: 21px;
        }
      }
    }

    #panel-5, #panel-7 {

      padding-right: 12%;
      padding-left: 12%;
      padding-bottom: 20px;
      background-size: cover;
      background-color: #f8f7f3;
      //background-color: black;

      p {
        font-family: OpenSans-Regular;
        font-size: 21px;
        margin-bottom: 20px;
      }
    }

    #panel-7 {
      padding-top: 80px;
    }

    #panel-8 {
      margin-bottom: 50px;
      background: transparent url('assets/img/sonia/sonia.jpg') no-repeat center center;
      width: auto;
      height: 630px;
      background-size: cover;
    }

    #panel-10 {
      margin-top: 70px;
      padding: 5% 8%;
      background-size: cover;
      background: url('assets/img/panel-10/background.jpg') no-repeat, linear-gradient(#97dcd7, #97dcd7);

      .col {
        background-size: cover;
        background-color: #ffffff;
      }

      .fluenz-title {
        padding-left: 6%;
      }

      .bullets, #dates-and-activities {
        padding-left: 3%;
        padding-right: 3%;
      }

      .bullets {
        ul {
          font-size: 24px;
        }

        li {
          font-family: OpenSans-Semibold;
          margin-bottom: 4%;
          font-weight: bold;
        }
      }

      #house-images {
        margin-bottom: 4%;

        .col-md-6 {
          padding-right: 0;
          padding-left: 0;
        }

        #house-mosaic-2-img-1 {
          background: transparent url('assets/img/mosaic-3/m3-1.jpg') no-repeat center center;
        }

        #house-mosaic-2-img-2 {
          background: transparent url('assets/img/mosaic-3/m3-2.jpg') no-repeat center center;
        }

        #house-mosaic-2-img-3 {
          background: transparent url('assets/img/mosaic-3/m3-3.jpg') no-repeat center center;
        }

        #house-mosaic-2-img-4 {
          background: transparent url('assets/img/mosaic-3/m3-4.jpg') no-repeat center center;
        }

        .mosaic-img {
          width: auto;
          height: 400px;
          background-size: cover;
        }
      }

      #dates-and-activities {
        margin-bottom: 6%;

        p {
          font-family: OpenSans-Regular;
          font-size: 21px;
        }
      }

      #city {
        background: transparent url('assets/img/panel-10/city.jpg') no-repeat center center;
        width: auto;
        height: 223px;
        background-size: cover;
      }

      #reservation-header {
        font-family: OpenSans-Light;
        background-size: cover;
        background-color: #2fb8ae;
        color: white;
        font-size: 55px;
        text-align: center;
        height: 120px;

        #header {
          margin-top: 1.5%;
        }
      }

      #reservation-form {
        background-size: cover;
        background-color: #f0f0f0;

        .form-row {
          padding-left: 3%;
          padding-right: 3%;

          .accordion-element {
            border-bottom: #999999 solid 2px;
          }

          .reservation-form-header {
            font-size: 55px;
            font-family: OpenSans-Light;
            margin-bottom: 30px;
            margin-top: 40px;

            .week-number {
              color: #40bdb3;
              border-right: #9d9d9d solid 2px;
              padding-right: 15px;
              float: left;
              display: inline-block;
              padding-left: 10px;
            }

            .reservation-dates {
              float: left;
              display: inline-block;
              padding-left: 25px;
            }

            .open-form {
              float: right;
              display: inline-block;
              padding-left: 10px;

              a {
                height: 60px;
                width: 200px;
                float: right;
                border: #39bbb2 solid 2px;
                background: white;

                font-size: 20px;
                font-family: OpenSans-Semibold;

                border-radius: 0;
              }

              input {
                height: 60px;
                width: 200px;
                float: right;
                border: #39bbb2 solid 2px;
                background: white;

                font-size: 20px;
                font-family: OpenSans-Semibold;

                border-radius: 0;
              }
            }
          }
        }

        .inputs {
          .input {
            display: block;
            width: 100%;
            font-size: 20px;
            background: #dadada;
            border-radius: 0;
            margin-bottom: 20px;
          }

          .name-email {
            input {
              padding: 40px 20px;
            }
          }

          .request {
            height: 184px;

            textarea {
              padding: 25px 20px;
              resize: none;
              height: 100%;
            }
          }
        }

        .button {
          margin-bottom: 50px;
          margin-top: 25px;

          input {
            height: 60px;
            width: 200px;
            float: right;
            border: #39bbb2 solid 2px;
            background: white;

            font-size: 20px;
            font-family: OpenSans-Semibold;

            border-radius: 0;
          }
        }
      }

      #reservation-footer {
        margin-top: 40px;
        margin-bottom: 40px;
        text-align: center;
        font-family: OpenSans-Semibold;
        font-size: 22px;

        a {
          color: #2fb8ae
        }
      }
    }

    #panel-11 {

      .fluenz-title, .bullets {
        padding: 10px 12% 20px;
      }

      #coach-mosaic {

        .col-md-3 {
          padding-right: 0;
          padding-left: 0;
        }

        .mosaic-img {
          width: auto;
          height: 424px;
          background-size: cover;
        }

        #coach-mosaic-img-1 {
          background: transparent url('assets/img/mosaic-4/m4-1.jpg') no-repeat center center;
        }

        #coach-mosaic-img-2 {
          background: transparent url('assets/img/mosaic-4/m4-2.jpg') no-repeat center center;
        }

        #coach-mosaic-img-3 {
          background: transparent url('assets/img/mosaic-4/m4-3.jpg') no-repeat center center;
        }

        #coach-mosaic-img-4 {
          background: transparent url('assets/img/mosaic-4/m4-4.jpg') no-repeat center center;
        }
      }

      .bullets {
        padding-top: 100px;
        ul {
          font-size: 24px;
        }

        li {
          font-family: OpenSans-Regular;
          margin-bottom: 4%;
          font-weight: bold;
        }
      }
    }

    #panel-12 {

      background-size: cover;
      background: linear-gradient(#0073c4, #0996d4);
      padding-bottom: 40px;

      .fluenz-title {
        color: white;
        padding: 10px 12% 20px;

        .col-md-9 {
          padding-left: 0;
        }
      }

      p {
        font-family: OpenSans-Regular;
        color: white;
        padding: 10px 12% 20px;
        font-size: 21px;
      }
    }

    #panel-13 {
      #city-mosaic {

        .col-md-3 {
          padding-right: 0;
          padding-left: 0;
        }

        .mosaic-img {
          width: auto;
          height: 424px;
          background-size: cover;
        }

        #city-mosaic-img-1 {
          background: transparent url('assets/img/mosaic-5/m5-1.jpg') no-repeat center center;
        }

        #city-mosaic-img-2 {
          background: transparent url('assets/img/mosaic-5/m5-2.jpg') no-repeat center center;
        }

        #city-mosaic-img-3 {
          background: transparent url('assets/img/mosaic-5/m5-3.jpg') no-repeat center center;
        }

        #city-mosaic-img-4 {
          background: transparent url('assets/img/mosaic-5/m5-4.jpg') no-repeat center center;
        }
      }
    }

    #panel-14 {
      .container {
        padding-left: 12%;
      }

      #fluenz {
        color: red;
      }

      p {
        font-family: OpenSans-Regular;
        font-size: 21px;
        margin-bottom: 30px;
      }
    }

    #panel-15 {
      background-size: cover;
      background-color: #2fb8ae;
      color: white;
      font-size: 55px;
      text-align: center;
      height: 215px;

      #make-your-reservation {
        font-family: OpenSans-Light;
        margin-top: 1.5%;
      }

      #reserve-button{
        input {
          height: 60px;
          width: 200px;
          border: white solid 2px;
          color: white;
          background: #39bbb2;

          font-size: 20px;
          font-family: OpenSans-Semibold;

          border-radius: 0;
        }
      }
    }

    #footer {
      text-align: center;
      font-size: 22px;
      padding-top: 40px;
      padding-bottom: 40px;
      font-family: OpenSans-Regular;
      color: #2fb8ae;

      a {
        color: #2fb8ae;
      }

      #footer-col {
        padding-right: 0;
      }

      #footer-logo {
        margin-left:78%;
        background: transparent url('assets/tmp/img/footer-logo.PNG') no-repeat center center;
        width: 186px;
        height: 77px;
        background-size: cover;
      }

      #contact-us {
        padding-top: 45px;
        padding-right: 33%;
        padding-left: 0;
      }
    }

    #debug {
      display: none;
    }
  }
}