body,
html {
  height: 100%;
}
.container {
  margin-left: 0;
  margin-right: 0;
  width: 100%;
}
#app #content {
  margin-bottom: 300px;
}
#app #content .fluenz-title {
  color: gray;
  font-size: 61px;
  margin-top: 50px;
  margin-bottom: 50px;
}
#app #content .fluenz-blurb-title {
  color: red;
  font-size: 28px;
  margin-bottom: 20px;
}
#app #content .fluenz-sub-title {
  color: #33b9af;
  font-size: 20px;
  margin-bottom: 30px;
}
#app #content #panel-1 {
  background: transparent url('assets/img/panel1.PNG') no-repeat center center;
  width: auto;
  height: 850px;
  background-size: cover;
}
#app #content #panel-2 {
  margin-left: 10%;
  margin-right: 10%;
}
#app #content #panel-2 .link {
  padding-bottom: 10px;
  padding-top: 10px;
  text-align: center;
}
#app #content #panel-2 .link h5 {
  display: inline-block;
}
#app #content #panel-3 .col-md-3 {
  padding-right: 0;
  padding-left: 0;
}
#app #content #panel-3 #column-1 .mosaic-img {
  border: solid orange thick;
}
#app #content #panel-3 #column-2 .mosaic-img {
  border: solid blue thick;
}
#app #content #panel-3 #column-3 .mosaic-img {
  border: solid orange thick;
}
#app #content #panel-3 #column-4 .mosaic-img {
  border: solid blue thick;
}
#app #content #panel-3 .mosaic-img {
  height: 288px;
  text-align: center;
  vertical-align: middle;
}
#app #content #panel-4,
#app #content #panel-9 {
  margin-left: 12%;
  margin-right: 12%;
}
#app #content #panel-4 .col-md-4,
#app #content #panel-9 .col-md-4,
#app #content #panel-4 .col-md-6,
#app #content #panel-9 .col-md-6 {
  padding-right: 14px;
}
#app #content #panel-4 .col-md-4 p,
#app #content #panel-9 .col-md-4 p,
#app #content #panel-4 .col-md-6 p,
#app #content #panel-9 .col-md-6 p {
  font-size: 21px;
}
#app #content #panel-5,
#app #content #panel-7 {
  padding-top: 100px;
  padding-left: 12%;
  padding-right: 12%;
  background-size: cover;
  background-color: #f8f7f3;
}
#app #content #panel-5 p,
#app #content #panel-7 p {
  font-size: 21px;
  margin-bottom: 20px;
}
#app #content #panel-6 {
  margin-top: 20px;
}
#app #content #panel-6 .col-md-3 {
  padding-right: 0;
  padding-left: 0;
}
#app #content #panel-6 .mosaic-img {
  border: solid orange thick;
  height: 288px;
  text-align: center;
  vertical-align: middle;
}
#app #content #panel-8 {
  margin-top: 50px;
  margin-bottom: 50px;
  background: transparent url('assets/temp/img/sonia.PNG') no-repeat center center;
  width: auto;
  height: 469px;
  background-size: cover;
}
#app #content #panel-10 {
  padding: 5% 8%;
  background-size: cover;
  background-color: #97dcd7;
}
#app #content #panel-10 .col {
  background-size: cover;
  background-color: #ffffff;
}
#app #content #panel-10 .fluenz-title {
  padding-left: 6%;
}
#app #content #panel-10 #bullets,
#app #content #panel-10 #dates-and-activities {
  padding-left: 3%;
  padding-right: 3%;
}
#app #content #panel-10 #bullets ul {
  font-size: 24px;
}
#app #content #panel-10 #bullets li {
  margin-bottom: 4%;
  font-weight: bold;
}
#app #content #panel-10 #house-images {
  margin-bottom: 4%;
}
#app #content #panel-10 #house-images .col-md-6 {
  padding-right: 0;
  padding-left: 0;
}
#app #content #panel-10 #house-images #house-1 .mosaic-img {
  border: solid orange thick;
}
#app #content #panel-10 #house-images #house-2 .mosaic-img {
  border: solid blue thick;
}
#app #content #panel-10 #house-images .mosaic-img {
  height: 700px;
  text-align: center;
  vertical-align: middle;
}
#app #content #panel-10 #dates-and-activities {
  margin-bottom: 6%;
}
#app #content #panel-10 #dates-and-activities p {
  font-size: 21px;
}
#app #content #panel-10 #city {
  background: transparent url('assets/temp/img/cityPanel.PNG') no-repeat center center;
  width: auto;
  height: 223px;
  background-size: cover;
}
#app #content #panel-10 #reservation-header {
  background-size: cover;
  background-color: #2fb8ae;
  color: white;
  font-size: 55px;
  text-align: center;
  height: 120px;
}
#app #content #panel-10 #reservation-header #header {
  margin-top: 1.5%;
}
#app #content #panel-10 #reservation-form {
  background-size: cover;
  background-color: #f0f0f0;
}
#app #content #panel-10 #reservation-form .form-row {
  padding-left: 3%;
  padding-right: 3%;
}
#app #debug {
  display: none;
}
